body {
  overflow: hidden;
  background-color: black;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PartnerCondensed";
  font-weight: bold;
  src: url(../fonts/PartnerCondensed.otf) format('truetype');
}


.mainRoad {
  position: absolute;
  width: 75vh;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.door {
  position: absolute;
  width: 4.4vh;
  left: 50.4%;
  bottom: 51.2vh;
  transform-origin: right;
  transition: all 150ms ease-in-out;
}

.door:hover {
  perspective: 10px;
  transform: rotateY(50deg);
}

.sick {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "PartnerCondensed", monospace;
  font-weight: bold;
  font-size: 4vw;
}










/* eye styles */

.eye-box {
  position: absolute;
  top: 20%;
  left: 10%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}


.eye-border {
  width: 5vw;
  height: 2vw;
}

.eyeball {
  width: 1.3vw;
  height: 1.3vw;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;

}

.eye-box-02 {
  position: absolute;
  top: 30%;
  left: 90%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-03 {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-04 {
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-05 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-06 {
  position: absolute;
  top: 35%;
  left: 67%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-07 {
  position: absolute;
  top: 35%;
  left: 21%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-08 {
  position: absolute;
  top: 47%;
  left: 73%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-09 {
  position: absolute;
  top: 24%;
  left: 98%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-10 {
  position: absolute;
  top: 25%;
  left: 64%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-11 {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-12 {
  position: absolute;
  top: 70%;
  left: 14%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-13 {
  position: absolute;
  top: 65%;
  left: 30%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-14 {
  position: absolute;
  top: 34%;
  left: 75%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-15 {
  position: absolute;
  top: 90%;
  left: 15%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-16 {
  position: absolute;
  top: 45%;
  left: 23%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-17 {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-18 {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-19 {
  position: absolute;
  top: 15%;
  left: 45%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-20 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-21 {
  position: absolute;
  top: 80%;
  left: 90%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-22 {
  position: absolute;
  top: 74%;
  left: 86%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-23 {
  position: absolute;
  top: 74%;
  left: 75%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-24 {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-25 {
  position: absolute;
  top: 66%;
  left: 75%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-26 {
  position: absolute;
  top: 63%;
  left: 95%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-27 {
  position: absolute;
  top: 50%;
  left: 79%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-28 {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-29 {
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}
.eye-box-30 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
}


.orientation-box {
  position: absolute;
  top: 10%;
  left: 0%;
  z-index: 3;
  background-color: black;
  width: 120vw;
  height: 100vh;
}

.orientation-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32%;
  transform: translate(-50%,-50%);
}

.orientation-img-two {
  position: absolute;
  top: 41.4%;
  left: 41.5%;
  width: 17%;
  height: 17%;
  /* transform: translate(-50%,-50%); */
  background-color: white;
  animation: img-rotation 5s ease infinite;
  transform-origin: center;
}

.orientation-box {
  display: none;
}
@media (orientation: portrait) {
  .orientation-box {
    display: block;
  }

  @keyframes img-rotation {
    0% {

    }
    50% {

      transform: rotateZ(90deg);
    }

  }
}
