body {
  overflow: hidden;
  background-color: black;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PartnerCondensed";
  font-weight: bold;
  src: url(../fonts/PartnerCondensed.otf) format('truetype');
}

.end {
  position: absolute;
  width: 75vh;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.reload {
  position: absolute;
  width: 3vw;
  transform: translate(-50%,50%);
  top: 50%;
  left: 50%;
}
