body {
  overflow: hidden;
  background-color: black;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "PartnerCondensed";
  font-weight: bold;
  src: url(../fonts/PartnerCondensed.otf) format('truetype');
}

.logo {
  font-family: "PartnerCondensed", monospace;
  font-weight: bold;
  font-size: 20vw;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}


.orientation-box {
  position: absolute;
  z-index: 2;
  background-color: black;

  width: 100vw;
  height: 100vh;
}

.orientation-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32%;
  transform: translate(-50%,-50%);
}

.orientation-img-two {
  position: absolute;
  top: 41.4%;
  left: 41.5%;
  width: 17%;
  height: 17%;
  /* transform: translate(-50%,-50%); */
  background-color: white;
  animation: img-rotation 5s ease infinite;
  transform-origin: center;
}

.orientation-box {
  display: none;
}
@media (orientation: portrait) {
  .orientation-box {
    display: block;
  }

  @keyframes img-rotation {
    0% {

    }
    50% {

      transform: rotateZ(90deg);
    }

  }
}















































/* EOF */
