.rip-man {
  position: absolute;
  height: 5vh;
  top: 50%;
  left: 70%;
}
.rip-man2 {
  position: absolute;
  height: 5vh;
  top: 55%;
  left: 65%;
}
.rip-man3 {
  position: absolute;
  height: 5vh;
  top: 60%;
  left: 60%;
}
.rip-man4 {
  position: absolute;
  height: 5vh;
  top: 55%;
  left: 55%;
}
.rip-man5 {
  position: absolute;
  height: 5vh;
  top: 50%;
  left: 50%;
}
